
.ui {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
	flex-direction: column;

	.toolbar {
		flex: none;
		height: 30px;

		border-bottom: 1px solid #bdbdbd;
	}

	.content {
		flex: auto;
		display: flex;
		flex-direction: row;

		.sidebar {
			flex: none;
			width: 200px;

			border-right: 1px solid #bdbdbd;
		}

		.editor {
			flex: auto;
			position: relative;

			.editor-canvas {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}
}
