
.ui {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
	flex-direction: column;

	.toolbar {
		$toolbar-height: 40px;
		$toolbar-padding: 3px;

		flex: none;
		display: flex;
		flex-direction: row;
		height: $toolbar-height + 1;
		padding: $toolbar-padding;

		border-bottom: 1px solid #bdbdbd;

		> * {
			margin: 0 3px;
		}

		> .sep {
			flex: none;
			width: 1px;

			background-color: #bdbdbd;
		}

		> button,
		> select {
			flex: none;
			display: block;
			line-height: $toolbar-height - 2 * $toolbar-padding;

			&.right {
				margin-left: auto;
			}
		}

		> button {
			padding: 0 5px;

			background: none;
			border: none;
			font: inherit;
			color: inherit;
			outline: none;
			cursor: pointer;
			font-size: 20px;

			&:disabled {
				color: #bfbfbf;
				cursor: default;
			}

			&:not(:disabled) {
				&:hover {
					background-color: rgba(#000, .1);
				}

				&:active {
					background-color: rgba(#000, .2);
				}
			}
		}

		> select {
			padding: 1px 6px;

			background: none;
			border: none;
			border-radius: 0;
			font: inherit;
			color: inherit;
			outline: inherit;
			cursor: pointer;
			font-size: 16px;

			&:disabled {
				color: #bfbfbf;
				cursor: default;
			}
		}
	}

	.editor {
		flex: auto;
		position: relative;
		height: 0;

		.sidebar-wrapper {
			$sidebar-width: 200px;

			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;

			&.hidden {
				.sidebar-min-max {
					left: 0;

					.min {
						display: none;
					}

					.max {
						display: inline;
					}
				}

				.sidebar {
					display: none;
				}
			}

			&.hide-button {
				.sidebar-min-max {
					display: none;
				}
			}

			.sidebar-min-max {
				display: block;
				position: absolute;
				left: $sidebar-width;

				background: none;
				background-color: #fff;
				border: none;
				border-right: 1px solid #bdbdbd;
				border-bottom: 1px solid #bdbdbd;
				border-bottom-right-radius: 8px;
				outline: none;
				font: inherit;

				cursor: pointer;

				.min {
					display: inline;
				}

				.max {
					display: none;
				}
			}

			.sidebar {
				width: $sidebar-width;
				height: 100%;
				overflow-y: scroll;

				background-color: #fff;
				border-right: 1px solid #bdbdbd;

				.section {
					.section-title {
						background-color: #e0e0e0;
						padding: 3px 5px;
					}

					.components {
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;

						.component {
							width: 50%;

							padding: 5px 0;

							.component-preview {
								display: block;
								width: 80px;
								height: 100px;
								margin: 0 auto;
								margin-bottom: 5px;

								svg {
									pointer-events: none;
								}
							}

							.component-name {
								text-align: center;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
							}
						}
					}
				}
			}
		}

		.editor-canvas {
			display: block;
			width: 100%;
			height: 100%;
		}

		.property-overlay {
			display: none;
			position: absolute;
			top: 20px;
			right: 20px;
			width: 300px;
			padding: 5px 10px;

			border: 1px solid #bdbdbd;
			border-radius: 8px;
			background-color: #fff;

			&.visible {
				display: block;
			}

			.property {
				display: block;

				&:not(:last-child) {
					margin-bottom: 5px;
				}

				input {
					vertical-align: middle;
				}
			}
		}
	}
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(#000, 0.5);

	&.visible {
		display: flex;
	}

	.dialog {
		display: none;
		margin: auto;
		min-width: 300px;
		max-width: 90%;

		background-color: white;

		&.visible {
			display: block;
		}

		button,
		input[type=text],
		select {
			padding: 1px 6px;

			background: none;
			border: 1px solid rgba(#000, .2);
			border-radius: 0;
			font: inherit;
			color: inherit;
			font-size: inherit;
		}

		button,
		select {
			cursor: pointer;
		}

		button {
			&.highlight {
				font-weight: bold;
			}

			&:hover {
				background-color: rgba(#000, .1);
			}

			&:active {
				background-color: rgba(#000, .2);
			}
		}

		.header {
			padding: 5px 10px;

			font-size: 1.3em;
			border-bottom: 1px solid #ccc;
		}

		.body {
			padding: 10px;

			.input-row:not(:last-child) {
				margin-bottom: 15px;
			}
		}

		.footer {
			padding: 10px;

			text-align: right;
			border-top: 1px solid #ccc;

			button {
				margin-left: 10px;
			}
		}
	}
}
