
.ui {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
	flex-direction: column;

	.toolbar {
		$toolbar-height: 40px;
		$toolbar-padding: 3px;

		flex: none;
		display: flex;
		flex-direction: row;
		height: $toolbar-height;
		padding: $toolbar-padding;

		border-bottom: 1px solid #bdbdbd;

		> * {
			margin: 0 3px;
		}

		> .sep {
			flex: none;
			width: 1px;

			background-color: #bdbdbd;
		}

		> button {
			flex: none;
			display: block;
			line-height: $toolbar-height - 2 * $toolbar-padding;
			padding: 0 5px;

			background: none;
			border: none;
			font: inherit;
			color: inherit;
			outline: none;
			cursor: pointer;

			&:hover {
				background-color: rgba(#000, .1);
			}

			&:active {
				background-color: rgba(#000, .2);
			}
		}
	}

	.content {
		flex: auto;
		display: flex;
		flex-direction: row;

		.sidebar {
			flex: none;
			width: 200px;

			border-right: 1px solid #bdbdbd;
		}

		.editor {
			flex: auto;
			position: relative;

			.editor-canvas {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}
}
